@import url("https://fonts.googleapis.com/css?family=Anton|Barlow+Condensed:400,700,900|Poppins:400,700,800,900|Roboto:400,700,900&display=swap");

:root {
    --anton: 'Anton', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --barlow: 'Barlow Condensed', sans-serif;
    --primary-color: rgba(13, 110, 139, 0.75);
    --overlay-color: rgba(74, 79, 83, 0.85);
    --menu-speed: 0.75s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--roboto);
    line-height: 1.4;
}

nav {
    background-color: white;
    width: 100vw;
    height: 85px;
    padding: 10px; 
    position: sticky;
    top: 0;
    z-index: 11000;
}
#title {
    z-index:29;
    visibility: visible;
    font-family: var(--poppins);
    text-align: left;
    vertical-align: center;
    line-height: 85%;
    /* text-shadow: rgba(0,0,0,0.75) 0px 5px 5px; */
    letter-spacing: -3px;
    font-weight: 600;
    font-size: 2.5em;
    border-color: rgb(102,102,102);
    border-style: none;
    margin: 0;
    border-radius: 0;
    padding: 5px 0 0 20px;
    color: black;;
    text-decoration: none;
    white-space: nowrap;
    transition: all 0.4s ease;
    
}

.showcase-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.showcase {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    /* display: none; */
    opacity: 0;
    transition: opacity 2s ease-in-out;
    color: white;
}

#one {
    background: url("./GC-Images/sunset_large.jpeg") no-repeat center center fixed; 
    background-size: cover;
    height: 100vh;
    width: 100%;
    /* display: block; */
}

#two {
    background: url("./GC-Images/globe_large.jpeg") no-repeat center center fixed; 
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#three {
    background: url("./GC-Images/light_large.jpeg") no-repeat center center fixed; 
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#four {
    background: url("./GC-Images/city_large.jpeg") no-repeat center center fixed; 
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.showcase:before {
    content:'';
    background: url
}

.showcase > div > h1 {
    transition: all 0.4s ease;
    font-family: var(--poppins);
    text-align: left;
    vertical-align: center;
    line-height: 42px;
    /* text-shadow: rgba(0,0,0,0.75) 0px 5px 5px; */
    letter-spacing: -3.5px;
    font-weight: 600;
    font-size: 50px;
    padding-left: 20%;
    padding-top: 15%;
    animation-duration: 4s;
    animation-name: slideleft;
}

.showcase > div > h2 {
    transition: all 0.8s ease;
    text-align: right;
    vertical-align: center;
    line-height: 35px;
    /* text-shadow: rgba(0,0,0,0.75) 0px 5px 5px; */
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 40px;
    padding-right: 10%;
    padding-top: 10%;
    animation-duration: 5s;
    animation-name: slideleft;
}

#one > div > h1 {
    font-size: 5rem;
    line-height: 85%;
    padding-top: 10%;
    letter-spacing: -5px;
}

#two > div > h1 {
    padding-top: 10%;
}

#two > div > h2 {
    text-align: left;
    padding-left: 50%;
}

#three >  {
    width: 50%;
}

#three > div > h1 {
    text-align: left;
    padding-top: 10%;
    padding-left: 13.5%;
}
#three > div > h2 {
    text-align: left;
    padding-left: 13.5%;
}


#four > div > h1 {
    text-align: left;
    padding-top: 10%;
}  

#four > div > h2 {
    text-align: left;
    padding-left: 35%;
}

#overlay{
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
}

span {
    font-family: var(--poppins);
    letter-spacing: -3.5px;
    font-weight: 600;
}

@keyframes slideleft {
    from {
        margin-left: 100%;
        width: 300%; 
        opacity: 0;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
        opacity: 1;      
}
}

@media (max-width: 700px) {
    html {
        font-size: 12px;
    }

    #title {
        font-size: 2.5rem;
        padding-top: 10px;
        letter-spacing: -2px;
    }

    .showcase > div > h1 { 
        font-size: 2rem;
    }

    .showcase > div > h2 {
        font-size: 1.5rem;
        padding: 0;
    }

    .showcase-container {
        width: 100%;
        height: 100vh;
        position: relative;
    }

    #one > div > h1 {
        font-size: 3rem;
        letter-spacing: -2px;
        padding-top: 100px;
        padding-bottom: 60px;
    }

    #one > div > h2 {
        font-size: 2rem;
        padding-left: 15%;
        font-weight: 500;
        line-height: 25px;
    }
    
    #two > div > h1 {
        font-size: 2rem;
        letter-spacing: -1px;
        padding-top: 100px;
        padding-bottom: 60px;
    }

    #two > div > h2 {
        font-size: 1.5rem;
        padding-right: 10px;
        font-weight: 500;
        line-height: 25px;
    }
    
    
    #three > div > h1 {
        font-size: 2rem;
        padding-top: 150px;
        letter-spacing: -1px;
    }

    #three > div > h2 {
       font-size: 1.5rem;
       padding-top: 60px;
       padding-left: 50px;
       line-height: 25px;
       letter-spacing: -1px;
       font-weight: 500;

    }
    
    
    #four > div > h1 {
        font-size: 2rem;
        letter-spacing: -1px;
        line-height: 25px;
        padding-top: 100px;
        padding-bottom: 50px;
    }  
    
    #four > div > h2 {
        line-height: 25px;
        font-size: 1.5rem;
        font-weight: 500;

    }
}

